<p>retailer-login works!</p>
<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="./assets/retailer.jpg" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1>Online Shopping App</h1>
                <h4> Retailer Login</h4>
                <br><br>
                <form >
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <label> Email : </label>
                            <input type = "text" class="form-control" formControlName = "retaileremail" >
                         
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> Password : </label>
                            <input type = "password" >
                          
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button class="btn1 mt-3 mb-5 ">Login</button>
                        </div>
                    </div>
                   
                </form>                
            </div>
        </div>
    </div>
</section>